/* medium desktop */
@media (max-width: 1200px)
  .container
    max-width: 960px
  .grid
    &-wrapper
      flex-direction: column
      justify-content: flex-start
      align-items: center
  .top
    padding-top: 60px
    &-wrapper
      width: 748px
  body
    background-color: #f0deb9

/* small desktop */
@media (max-width: 992px)
  .container,
  .unpublished-wrapper,
  .publishers-wrapper
    max-width: 730px
  .navbar
    &-top, &-bottom
      &-menu
        &__item
          &:hover
            color: $dark
  .logo
    &__image
      animation: none
    &--hover
      &:hover
        opacity: 1
  .navbar
    &__button
      &:hover
        background-color: $light
        color: $primary
  .navigation
    &-button
      &:hover
        background-color: $light
        color: $primary
  .modal
    &__dialog
      max-width: 420px
      padding-left: 60px
      padding-right: 60px
    &__info
      margin-right: 15px
    &__button
      margin-top: 15px
      order: 99
  .hero
    &__button
      &:hover
        background-color: $primary
        color: $light
    &-wrapper
      flex-direction: column
    &__title, &__subtitle
      text-align: center
    &__book
      width: 100%
      margin: 0
    &-book
      &-wrapper
        width: 100%
        margin-top: 56px
  .card
    &__button
      &:hover
        background-color: $dark
  body
    background-color: #1ab9ac

/* tablet */
@media (max-width: 768px)
  .container
    max-width: 606px
    width: 92%
  body
    padding-top: 64px
  .navbar
    &-top
      padding: 18px 0
      &-menu
        display: none
    &--mobile
      &--fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
        // background-color: $light
    &-bottom
      position: fixed
      top: 64px
      right: 0
      bottom: 0
      left: 0
      padding-top: 31px
      max-height: 100% /* прокрутка */
      overflow: auto /* прокрутка */
      background-color: $light
      &--visible
        display: block
      &-menu
        flex-direction: column
        &__item
          margin-bottom: 20px
    &__button
      &--mobile
        &--hidden
          display: none
        &--visible
          display: block
  .menu
    &-button
      display: flex
      width: 22px
      height: 18px
      padding: 0
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: $blue-other
  .modal
    &__dialog
      min-width: 92%
      margin: auto
      padding: 33px 88px
      right: 0
      left: 0
      transform: translateY(-50%)
  body
    background-color: #92cf76

/* smartphone */
@media (max-width: 576px)
  .container
    max-width: 462px
    width: 92%
  .modal
    &__dialog
      max-width: 92%
      max-height: 92%
      padding-left: 52px
      padding-right: 52px
  .hero
    padding-top: 36px
    padding-bottom: 28px
    &__title
      font-size: 32px
      line-height: 40px
    &__subtitle
      margin-top: 24px
      font-size: 16px
      font-weight: 400
      line-height: 24px
    &__text
      margin-top: 32px
      text-align: center
      font-size: 16px
      line-height: 23px
    &__button
      width: 176px
      min-height: 40px
      padding: 7px
      margin-bottom: 15px
      &-wrapper
        align-items: center
        flex-direction: column
        padding-top: 17px
    &-book
      &-wrapper
        margin-top: 36px
      &__img
        width: 144px
  .navigation
    &-button
      width: 176px
      height: 40px
      margin-left: 0 !important
      line-height: 22px
  .grid
    padding: 28px 0
  body
    background-color: #94bff3

/* mobile */
@media (max-width: 320px)
  .container
    max-width: 280px
    width: 92%
  .modal
    &__dialog
      padding-left: 38px
      padding-right: 38px
  body
    background-color: #6a9755