*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  // font-family: 'Roboto', sans-serif
  // font-family: 'Roboto Condensed', sans-serif
  background-color: $light
  color: $text-color
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
.button
  padding: 18px
  border-radius: 4px
  border: none
  cursor: pointer
  font-size: 12px
  font-weight: 700
  line-height: 15px
  &--148-48
    width: 148px
    height: 48px /* min */
.logo
  font-size: 0
  &--hover
    &:hover
      opacity: 0.8
.hover
  &-light
    &:hover
      color: $primary
.hover
  &-primary
    &:hover
      color: $primary
// .mt-4
//   margin-top: 4px !important
// .mr-6
//   margin-right: 6px !important
// .mb-16
//   margin-bottom: 16px !important
.ml-26
  margin-left: 26px !important