.grid
  padding: 50px 0 40px 0
  &__title
    margin: 0
    color: $dark
    font-family: 'Roboto Condensed', sans-serif
    font-size: 32px
    font-weight: 700
    line-height: 40px
  &-wrapper
    display: flex
    justify-content: space-between
    // align-items: center
.card
  display: flex
  justify-content: space-between
  align-items: center
  &__info
    display: flex
    flex-direction: column
    align-items: flex-start
  &__title
    margin: 0
    color: $dark
    font-family: 'Roboto', sans-serif
    font-size: 22px
    font-weight: 500
    line-height: 32px
  &__genre
    margin-top: 16px
    color: $dark
    font-size: 16px
    font-weight: 400
    line-height: 22px
  &__price
    margin-top: 24px
    color: $primary
    font-family: 'Roboto Condensed', sans-serif
    font-size: 20px
    font-weight: 700
    line-height: 24px
  &__buy
    display: flex
    // justify-content: space-between
    align-items: center
    margin-top: 24px
  &__button
    width: 101px
    min-height: 36px
    padding: 7px 20px
    border-radius: 18px
    background-color: $dark
    color: $light
    font-size: 16px
    font-weight: 700
    line-height: 22px
    &:hover
      background-color: $hover-dark
  &__like
    margin-left: 21px
.recommendations
  &-wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 748px
    margin-top: 30px
  &__card
    width: 358px
    min-height: 260px
    margin-bottom: 32px
    padding: 11px
    border: 1px solid $grey
    border-radius: 10px
    &-5, &-6
      margin-bottom: 0
  &__image
    width: 160px
  &__info
    width: 156px
.top
  &-wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 360px
    margin-top: 30px
    // border: 1px solid $secondary-transparent
    border-radius: 10px
    background-color: $secondary-transparent
  &__card
    width: 360px
    min-height: 217px
    padding: 18px 24px
    // border: 1px solid $grey
    border-radius: 10px
  &__image
    width: 120px
  &__info
    width: 166px
  &__button
    margin-top: 22px