.navbar
  background-color: $light
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 37px
    padding-bottom: 26px
    &-menu
      display: flex
      align-items: center
      justify-content: space-between
      // min-width: 282px
      max-width: 340px
      margin: 0 45px 0 auto
      padding: 0
      list-style-type: none
      color: $dark
    &__menu
      &-button
        display: none
.navbar
  &-top, &-bottom
    &-menu
      &__item
        color: $dark
        &:hover
          color: $primary
      &__link
        color: inherit
        text-decoration: none
        font-size: 16px
        font-weight: 600
        line-height: 22px
    
  &-bottom
    display: none
    &-menu
      list-style-type: none
      margin: 0
      padding: 30px 0
      display: flex
      align-items: center
      justify-content: space-between    
      color: $dark
  &__logo
    width: 90px
    animation-name: navbar__logo
    animation-duration: 3s
    animation-iteration-count: 1
    animation-timing-function: ease-in-out
    
/* Анимация */
@keyframes navbar__logo
  0%
    opacity: 0    
  100%
    opacity: 1

.receive
  &-button
    padding: 0
    border: 2px solid $primary
    border-radius: 10px
    overflow: hidden
    background-color: $light
    color: $primary
    font-size: 16px
    font-weight: 700
    line-height: 22px
    filter: drop-shadow(0 10px 25px rgba(21, 37, 72, 0.1))
    &:hover
      background-color: $primary
      color: $light
  &-link
    display: table-cell
    vertical-align: middle
    text-decoration: none
    color: inherit
  &-wrapper
    display: table
    width: 100%
    height: 100%